<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>


</head>
<body>

<strong><p th:text="'Username: ' + ${user.getUsername()}">VALUE</p>
<p th:text="'Email: ' + ${user.getEmail()}">VALUE</p>
<p th:text="'Age: ' + ${user.getAge()}">VALUE</p></strong>

<br/>

<p th:text="'ID: ' + ${user.getId()}">VALUE</p>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/delete/{id}(id=${user.getId()})}">
           <input type="submit" value="Delete"/>
</form>
</body>
</html>