<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>

</head>
<body>

<strong>
    <p th:text="'ID: ' + ${user.getId()}">VALUE</p>
    <p th:text="'Username: ' + ${user.getUsername()}">VALUE</p>
    <p th:text="'Email: ' + ${user.getEmail()}">VALUE</p>
    <p th:text="'Age: ' + ${user.getAge()}">VALUE</p>
    <p th:text="'Authorities: ' + ${user.getAuthorities()}">VALUE</p></strong>

<br/>

</body>
</html>